//adding some final formatting overrides because I can't be fucked to find them in _sass
.page__content {
  p, ul, li {
    font-size: 0.9em;
  }
}

.page__content details {
  font-size: 0.8em;
  font-weight: 300;
  color: #1e4052;
  margin: 0.5em 0 1em;
}

.page__content details summary {
  font-weight: 600;
  //text-decoration: underline;
  color: #A9B5BB;
}

.featured-tags__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
  align-items: start;
  margin-bottom: 2rem;
}

.featured-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: 0.25rem 0 0;
  font-size: $type-size-6;
  color: $muted-text-color;
  text-align: center;
  text-decoration: none;

  img {
    max-width: 6rem;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  &:visited {
    color: $muted-text-color;  //don't change color after visited
  }
  &:hover {  //on hover actions, text color and img size
    color:$darker-gray;
    img {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}


.archive__item .page__date {  //format custom date fields on archive items
  margin: -0.75em 0 0;
  font-weight: 300;
  color: $muted-text-color;
  font-size: $type-size-8;
}

