//adding some final formatting overrides because I can't be fucked to find them in _sass
.page__content {
  p, ul, li {
    font-size: 0.9em;
  }
}

.page__content details {
  font-size: 0.8em;
  font-weight: 300;
  color: #1e4052;
  margin: 0.5em 0 1em;
}

.page__content details summary {
  font-weight: 600;
  //text-decoration: underline;
  color: #A9B5BB;
}

.featured-tags__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
  align-items: start;
  margin-bottom: 2rem;
}

.featured-tag img {
  max-width: 6rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.featured-tag:hover img {
  opacity: 1;
}

.featured-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: 0.25rem 0 0;
  font-size: $type-size-6;
  color: $muted-text-color;
  text-align: center;
  text-decoration: none;
}

