---
---
//adding some final formatting overrides because I can't be fucked to find them in _sass
.page__content p {
  font-size: 0.8em !important;
}

.page__content details {
  font-size: 0.8em;
  font-weight: 300;
  color: ##54e851;
}

.page__content details summary {
  font-size: 1.0em;
}

