---
---
//adding some final formatting overrides because I can't be fucked to find them in _sass
.post-content p {
  font-size: 0.8em !important;
}

details {
  font-size: 0.7em;
  font-weight: 300;
  color: #263238;
}

details summary {
  color: #54e851;
}

