---
---
//adding some final formatting overrides because I can't be fucked to find them in _sass
.page__content p {
  font-size: 0.9em;
}

.page__content details {
  font-size: 0.8em;
  font-weight: 300;
  color: #1e4052;
}

.page__content details summary {
  font-weight: 600;
  //text-decoration: underline;
}

