---
layout: archive
---

{{ content }}

{% if page.featured_tags %}
<section class="featured-tags">
  <div class="featured-tags__grid">
    
    <h3 class="archive__subtitle">{{ "Featured Tags" }}</h3>
    
    {% for tag in page.featured_tags %}
      <a href="{{ tag.link }}" class="featured-tag">
        <img src="{{ tag.image | relative_url }}" alt="{{ tag.name }}">
        <span class="featured-tag__label">{{ tag.name }}</span>
      </a>
    {% endfor %}
  </div>
</section>
{% endif %}
  

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
